* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

.container {
  border: 4px solid rgb(251, 233, 84);
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

#character-info-container {
  height: 350px;
  width: 70%;
  color: rgb(251, 233, 84);
  font-size: 28px;
  border: 4px solid rgb(251, 233, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 80%;
}
.logo img {
  width: 100%;
  height: 100%;
}

#btn {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  height: 40px;
  width: 120px;
  background-color: rgb(251, 233, 84);
  border-radius: 30px;
}
@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#donut {
  display: none;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgb(251, 233, 84);
  border-radius: 50%;

  animation: donut-spin 1.2s linear infinite;

  height: 350px;
  width: 70%;
}
